/* font-family: 'Sansita Swashed', cursive; */

* {
  font-family: "Montserrat", sans-serif;
}

#transactionModalLabel,
.font-secular {
  font-family: "Secular One", sans-serif;
}

.selected {
  border: 1px solid violet;
}

.transacts {
  padding-right: 0 !important;
  padding-left: 0 !important;

  /* margin-right: 10px !important;
  margin-left: 10px !important; */
}
